@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

body {
    background-color:hsl(204, 43%, 93%);
    display: flex;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400px;
    justify-content: center;
    align-items: center;
    
}


.card {
    background-color: white;
    text-align: left;
    width: 650px;
    margin: 40px;
    
    
    box-shadow: 5px 5px rgba(218, 207, 207, 0.925);
}


.card-title {
    color:hsl(179, 62%, 43%);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 30px;
    
}

.card-subtitle {
    color:hsl(71, 73%, 54%);
    font-size: 1rem;
    margin: 20px 30px;
    letter-spacing: .1rem;
}

.card p {
    color: hsl(218, 22%, 67%);
    font-size:.8rem;
    margin: 5px 30px 30px;
    letter-spacing: .1rem;
    line-height: 1.5rem;
}


.left-half {
    background-color: hsl(179, 62%, 43%);
    padding: 0;
    
}

.left-half h5 {
    margin: 30px 40px;
    color: white;
    font-style: 400px;
}

.left-half p {
    margin: 20px 40px 5px;
    color:white;
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0;
}
.left-half span {
    font-size: 2rem;
    margin-right: 20px;
    color:white;
}

.left-half .btn {
    width: 240px;
    position: relative;
    justify-items: center;
    align-content: center;
    margin: 30px 40px;
    background-color: hsl(71, 73%, 54%);
    overflow: hidden;
}
.right-half {
    
    background-color: hsla(179, 62%, 43%, 0.829);
    padding: 0;
}

.right-half h5 {
    margin: 20px 30px;
    color: white;
}

.right-half p {
    margin:0px 30px 0 30px;
    color:white;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    
}